body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}
/* Table styling */
table {
  border-radius: 5px;
  margin: 0 auto 0;
  width: 100%;
}

.table-item td {
  padding-right: 20px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.header-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
=======
=======
>>>>>>> e24a672be032f174ca533624cf15357440ed7de8
.table-item button {
  margin-right: 0;
  align-self: left;
  color: rgb(0, 0, 0);
  background: rgb(199, 199, 199);
  border: 1px solid rgb(132, 132, 132);
}

.table-item button :hover {
  background: rgb(113, 113, 113);
}

#table-section {
  margin: 20px 20px 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 1em;
}
/* Page container styling */

#page-container {
  display: inline-block;
  align-self: center;
  margin-left: 10%;
  width: 80%;
  background: white;
  padding: 10px;
  border-radius: 1em;
  border: 2px solid gray;
<<<<<<< HEAD
>>>>>>> main
  position: relative;
  overflow: hidden;
=======
>>>>>>> e24a672be032f174ca533624cf15357440ed7de8
}

/* HEADER SECTION */

.header-container {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  margin: 0 0 0 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 10px 10px;
  gap: 10px;
}

#header-title {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: left;
  font-size: 3em;
  color: rgb(69, 98, 159);
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

#header-hr {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}

#header-double-holder {
  padding-left: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

#sort-dropdown {
  width: 10em;
}

.header-container button:hover {
  background: rgb(81, 81, 81);
  color: white;
}

.header-container button,
select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 3em;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}

.header-container button {
  position: relative;
  width: 10em;
}

/* SORT SECTION */

.selected-sort {
  font-weight: bold;
}

/* background video section */
#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(4px);
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> e24a672be032f174ca533624cf15357440ed7de8
}

/* Wrong password animation */

.wrong-password {
  animation-name: wrongPasswordAnimation;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-duration: 0.05s;
  border: 2px solid red;
}

@keyframes wrongPasswordAnimation {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* LOGIN SECTION END */

.total-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.total-container span + span {
  margin-top: 100px;
}

.total-container:hover {
  transform: scale(1.05);
}
<<<<<<< HEAD
=======
}
>>>>>>> main
=======
>>>>>>> e24a672be032f174ca533624cf15357440ed7de8
