body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(38, 38, 85);
  color: white;
}

table {
  background-color: rgb(96, 96, 96);
  color: white;
  margin: 0 auto 0;
}

.table-item td {
  padding-right: 6em;
  border: 1px solid black;
}
  
.header-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  margin: auto;
  width: 1fr;
  top: 0;
  left: 0;
  right: 0;
  align-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  gap: 10px;
}

.header-container :first-child {
  display: inline-block;
  padding-top: 20px;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 2em;
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 200%;
  background-color: rgb(62, 62, 62);
  border: 2px solid gray;
}

.header-item {
  display: inline-block;
  text-align: center;
  height: 2em;
  padding-top: 13px;
  border: 2px solid rgb(0, 32, 159);
  background-color: rgb(57, 57, 186);
  color: white;
  width: 100%;
}

.header-item:hover {
  background-color: rgb(67, 67, 225);
}

/* LOGIN SECTION */
.login-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  color: rgb(62, 62, 62);
  background: white;
  border: 2px solid white;
  margin: 240px auto 0;
  height: 50%;
  width: 25em;
  padding: 10px;
  border-radius: 0.5em;
  overflow: auto;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.306);
}

.login-container * {
  position: relative;
  margin: 5px;
}

.login-container h2 {
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: rgb(69, 98, 159);
  font-size: 34px;
}

.login-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-container input {
  padding-left: 10px;
  border: 1px solid gray;
  border-radius: 0.5em;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 2.5em;
}

#login-submit {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(61, 61, 61);
  height: 3em;
  border-radius: 0.5em;
  background-color: white;
}

.login-container :last-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-container p {
  text-align: left;
  padding-left: 5px;
  color: rgb(116, 116, 116);
}

#signature {
  text-align: center;
}

/* background video section */
#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(4px);
}

/* Wrong password animation */

.wrong-password {
  animation-name: wrongPasswordAnimation;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-duration: 0.05s;
  border: 2px solid red;
}

@keyframes wrongPasswordAnimation {
  0% {transform: translateX(0%);} 
  25% {transform: translateX(1%);}
  50% {transform: translateX(0%);}
  75% {transform: translateX(-1%);}
  100% {transform: translateX(0%);}
}

/* LOGIN SECTION END */


.total-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.total-box:hover {
  transform: scale(1.05);
}
