 /* background video section */
 #backgroundVideo {
    position: fixed;
    right: -10px;
    bottom: -10px;
    min-width: 110%;
    min-height: 110%;
    filter: blur(4px);
  }

  #page-container {
    display: inline-block;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background: white;
    padding: 10px;
    border-radius: 1em;
    border: 2px solid gray;
    position: relative;
    overflow: auto;
  }

/* LOGIN SECTION */
.login-container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    color: rgb(62, 62, 62);
    background: white;
    border: 2px solid white;
    margin: 240px auto 0;
    height: 50%;
    width: 25em;
    padding: 10px;
    border-radius: 0.5em;
    overflow: auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.306);
  }
  
  .login-container * {
    position: relative;
    margin: 5px;
  }
  
  .login-container h2 {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: rgb(69, 98, 159);
    font-size: 34px;
  }
  
  .login-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .login-container input {
    padding-left: 10px;
    border: 1px solid gray;
    border-radius: 0.5em;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 2.5em;
  }
  
  #login-submit {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(61, 61, 61);
    height: 3em;
    border-radius: 0.5em;
    background-color: white;
  }
  
  .login-container :last-child {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .login-container p {
    text-align: left;
    padding-left: 5px;
    color: rgb(116, 116, 116);
  }
  
  #login-submit:hover {
    box-shadow: 0px 0px 10px rgba(0, 153, 255, 0.684);
    color: white;
    background-color: rgb(0, 16, 136);
    
  }
  
  #signature {
    text-align: center;
  }
  
 
  
  /* Wrong password animation */
  
  .wrong-password {
    animation-name: wrongPasswordAnimation;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-duration: 0.05s;
    border: 2px solid red;
  }
  
  @keyframes wrongPasswordAnimation {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(1%);
    }
    50% {
      transform: translateX(0%);
    }
    75% {
      transform: translateX(-1%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  #wrong-password-text {
    color: rgb(255, 21, 21);
  }
  
  /* LOGIN SECTION END */
  