body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
  }
  /* Table styling */
  table {
    margin: 0 auto 0;
    width: 100%;
  }
  
  .table-item td {
    padding-right: 20px;
  }
  
  .table-item {
    border: 0px solid black;
  }
  
  #table-section {
    border: 1px solid black;
    padding: 10px;
    border-radius: 0.3em;
  }

  tbody tr:nth-child(even) {
    background-color: rgb(242, 242, 242);
  }

  tbody tr:hover {
    background: rgb(204, 204, 204);
  }

  
  /* Page container styling */
  
  #page-container {
    display: inline-block;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background: white;
    padding: 10px;
    border-radius: 1em;
    border: 2px solid gray;
    position: relative;
    overflow: auto;
    min-height: 50em;
  }
  
  /* HEADER SECTION */
  
  .header-container {
    text-align: center;
    align-items: left;
    justify-content: left;
    justify-items: left;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    position: relative;
    padding: 10px 10px 10px 10px;
    gap: 10px;
  }
  
  #header-title {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    font-size: 3em;
    color: rgb(69, 98, 159);
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .header-container hr {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
  }
  
  #header-left-container {
    grid-column-start: 1;
    grid-column-end: 3;
    position:relative;
    width: auto;
  }

  .header-container * {
    text-align: center;
  }


  #header-right-container {
    justify-self: right;
    align-items: right;
    align-self: right;
    width: fit-content;

  }
  
  .header-item {
    display: inline-block;
    text-align: center;
    height: 2em;
    border: 2px solid rgb(0, 32, 159);
    background-color: rgb(57, 57, 186);
    color: white;
    width: 100%;
  }
  
  .header-container button:hover {
    background: rgb(89, 122, 188);
    color: white;
  }
  
  .header-container button, select {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 3em;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
  }
  
  .header-container select {
    width: 12em;
  }
  
  .header-container button {
    position: relative;
    width: 10em;
  }

  #competition-btn {
    margin-right: 40px;
  }
  
  /* DIALOG SECTION */
  #discipline-times-dialog {
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 20px;
    margin: 20px auto 20px;
    scale: 0.9;
  }

  #discipline-times-dialog * {
    padding-right: 1em;
  }

  #close-discipline-times-dialog {
    border: 0px none white;
    background: none;
    position:absolute;
    right: 2em;
  }
  


  /* Søgefunktion */
  #search-members {
    height: 2.7em;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: left;
    transform:translateY(-1px);
    padding-left: 5px;
    width: 30em;
  }

  #search-members::placeholder {
    text-align: center;
  }


   /* background video section */
   #backgroundVideo {
    position: fixed;
    
    right: -20px;
    bottom: -20px;
    min-width: 110%;
    min-height: 110%;
    filter: blur(20px);
  }

  #signature {
    text-align: center;
    color: gray;
  }


